body{
  margin-left: 12em;
  margin-top: 0.5em;

  
}
.img{
  padding-left: 20em; 
}
#sortlist{
 list-style-type: none;
 margin: 0;
 padding: 0; 
 width: 100%; 

}
.sort-item{
  padding: 0px; 
  margin:0px;
  display:inline-block;
}
.sort-item>img{
  width: 240px;
}

.sortable-placeholder {
  width:240px;
  background-color: yellow;
  display: inline-block;
}