body{
  margin-left: 12em;
  margin-top: 3em;
}
#sortlist{
 list-style-type: none;
 margin: 0;
 padding: 0; 
 width: 960px; 

}
li{
  padding: 0px; 
  margin:0px;
  display:inline-block;
}
li>img{
  width: 240px;
}

.sortable-placeholder {
  width:240px;
  height: 180px;
  background-color: yellow;
  display: inline-block;
}